.nav {
	display: flex;
	justify-content: flex-start;
}

.top_section {
	display: flex;
	align-items: center;
}

#navbar_btn {
	color: white;
	margin-top: 40px;
	margin-left: 32px;
	cursor: pointer;
}

.icons {
	width: 20px;
	height: 20px;
}

.sidebar {
	position: fixed;
	height: 100%;
	top: 0px;
	left: 0px;
	transition: 0.5s;
	transition-property: left;
	transition: all 0.5s;
}

.content {
	margin-top: 45px;
}

.nav:hover {
	background-color: black;
}

.nav-link {
	display: flex;
	align-items: center;
	padding: 10px;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 60px;
	margin-left: 15px;
}

.nav-link span {
	padding: 10px;
}

.nav-link:hover {
	margin: 0;
	background: rgba(170, 54, 124, 0.5);
}
